<div id="pc-start-page" ng-class="{active:showStartPage}">
    <div class="body">
        <div class="text"> <h1>Welcome to the Parallax Composer</h1> <p>
We hope that our tool will help you to build more creative and functional websites. Use the Parallax Composer admin panel localized on the left side to start a journey with web animations.</p>
<p>At any time you can visit <a href=http://themo.net/documentation/pc/ target=_blank>online documentation</a> or contact <a href=http://themo.ticksy.com target=_blank>support team</a> to get help.</p>
<p>This is BETA VERSION so if you have any suggestions or comments which could improve our tool, please write to us: <a href="mailto:pc@ideothemes.com">pc@ideothemes.com</a></p></div>
    </div>
</div>