@charset "UTF-8";

@font-face {
  font-family: "ideo-icon";
  src:url("../fonts/ideo-icon.eot");
  src:url("../fonts/ideo-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ideo-icon.woff") format("woff"),
    url("../fonts/ideo-icon.ttf") format("truetype"),
    url("../fonts/ideo-icon.svg#ideo-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-id-icon]:before {
  font-family: "ideo-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id:before {
  font-family: "ideo-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.id-Ajax_card:before {
    content: "\e900";
}
.id-Alerts_1:before {
    content: "\e901";
}
.id-Alerts_2:before {
    content: "\e902";
}
.id-Alerts_3:before {
    content: "\e903";
}
.id-Alerts_4:before {
    content: "\e904";
}
.id-Arrows_01:before {
    content: "\e905";
}
.id-Arrows_02:before {
    content: "\e906";
}
.id-Arrows_03:before {
    content: "\e907";
}
.id-Arrows_04:before {
    content: "\e908";
}
.id-Arrows_05:before {
    content: "\e909";
}
.id-Arrows_06:before {
    content: "\e90a";
}
.id-Arrows_07:before {
    content: "\e90b";
}
.id-Arrows_08:before {
    content: "\e90c";
}
.id-Arrows_09:before {
    content: "\e90d";
}
.id-Arrows_10:before {
    content: "\e90e";
}
.id-Arrows_11:before {
    content: "\e90f";
}
.id-Arrows_12:before {
    content: "\e910";
}
.id-Arrows_13:before {
    content: "\e911";
}
.id-Arrows_14:before {
    content: "\e912";
}
.id-Arrows_15:before {
    content: "\e913";
}
.id-Arrows_16:before {
    content: "\e914";
}
.id-Arrows_17:before {
    content: "\e915";
}
.id-Arrows_18:before {
    content: "\e916";
}
.id-Arrows_19:before {
    content: "\e917";
}
.id-Arrows_20:before {
    content: "\e918";
}
.id-Arrows_21:before {
    content: "\e919";
}
.id-Arrows_22:before {
    content: "\e91a";
}
.id-Arrows_23:before {
    content: "\e91b";
}
.id-Arrows_24:before {
    content: "\e91c";
}
.id-Arrows_25:before {
    content: "\e91d";
}
.id-Arrows_26:before {
    content: "\e91e";
}
.id-Arrows_27:before {
    content: "\e91f";
}
.id-Arrows_28:before {
    content: "\e920";
}
.id-Arrows_29:before {
    content: "\e921";
}
.id-Arrows_30:before {
    content: "\e922";
}
.id-Arrows_31:before {
    content: "\e923";
}
.id-Arrows_32:before {
    content: "\e924";
}
.id-Arrows_33:before {
    content: "\e925";
}
.id-Arrows_34:before {
    content: "\e926";
}
.id-Arrows_35:before {
    content: "\e927";
}
.id-Arrows_36:before {
    content: "\e928";
}
.id-Arrows_37:before {
    content: "\e929";
}
.id-Arrows_38:before {
    content: "\e92a";
}
.id-Arrows_39:before {
    content: "\e92b";
}
.id-Arrows_40:before {
    content: "\e92c";
}
.id-Arrows_41:before {
    content: "\e92d";
}
.id-Arrows_42:before {
    content: "\e92e";
}
.id-Arrows_43:before {
    content: "\e92f";
}
.id-Arrows_44:before {
    content: "\e930";
}
.id-Arrows_45:before {
    content: "\e931";
}
.id-Arrows_46:before {
    content: "\e932";
}
.id-Arrows_47:before {
    content: "\e933";
}
.id-Arrows_48:before {
    content: "\e934";
}
.id-Arrows_49:before {
    content: "\e935";
}
.id-Arrows_50:before {
    content: "\e936";
}
.id-Arrows_51:before {
    content: "\e937";
}
.id-Arrows_52:before {
    content: "\e938";
}
.id-Arrows_53:before {
    content: "\e939";
}
.id-Arrows_54:before {
    content: "\e93a";
}
.id-Audio_01:before {
    content: "\e93b";
}
.id-Audio_02:before {
    content: "\e93c";
}
.id-Audio_03:before {
    content: "\e93d";
}
.id-Audio_04:before {
    content: "\e93e";
}
.id-Audio_05:before {
    content: "\e93f";
}
.id-Audio_06:before {
    content: "\e940";
}
.id-Audio_07:before {
    content: "\e941";
}
.id-Audio_08:before {
    content: "\e942";
}
.id-Audio_09:before {
    content: "\e943";
}
.id-Audio_10:before {
    content: "\e944";
}
.id-Audio_11:before {
    content: "\e945";
}
.id-Audio_12:before {
    content: "\e946";
}
.id-Audio_13:before {
    content: "\e947";
}
.id-Audio_14:before {
    content: "\e948";
}
.id-Audio_15:before {
    content: "\e949";
}
.id-Audio_16:before {
    content: "\e94a";
}
.id-Audio_17:before {
    content: "\e94b";
}
.id-Audio_18:before {
    content: "\e94c";
}
.id-Audio_19:before {
    content: "\e94d";
}
.id-Audio_20:before {
    content: "\e94e";
}
.id-Audio_21:before {
    content: "\e94f";
}
.id-Audio_22:before {
    content: "\e950";
}
.id-Audio_23:before {
    content: "\e951";
}
.id-Audio_24:before {
    content: "\e952";
}
.id-Audio_25:before {
    content: "\e953";
}
.id-Bookmark_1:before {
    content: "\e954";
}
.id-Bookmark_2:before {
    content: "\e955";
}
.id-Bookmark_3:before {
    content: "\e956";
}
.id-Bookmark_4:before {
    content: "\e957";
}
.id-Business_01:before {
    content: "\e958";
}
.id-Business_02:before {
    content: "\e959";
}
.id-Business_03:before {
    content: "\e95a";
}
.id-Business_04:before {
    content: "\e95b";
}
.id-Business_05:before {
    content: "\e95c";
}
.id-Business_06:before {
    content: "\e95d";
}
.id-Business_07:before {
    content: "\e95e";
}
.id-Business_08:before {
    content: "\e95f";
}
.id-Business_09:before {
    content: "\e960";
}
.id-Business_10:before {
    content: "\e961";
}
.id-Business_11:before {
    content: "\e962";
}
.id-Business_12:before {
    content: "\e963";
}
.id-Business_13:before {
    content: "\e964";
}
.id-Business_14:before {
    content: "\e965";
}
.id-Business_15:before {
    content: "\e966";
}
.id-Business_16:before {
    content: "\e967";
}
.id-Business_17:before {
    content: "\e968";
}
.id-Business_18:before {
    content: "\e969";
}
.id-Business_19:before {
    content: "\e96a";
}
.id-Business_20:before {
    content: "\e96b";
}
.id-categories:before {
    content: "\e96c";
}
.id-close:before {
    content: "\e96d";
}
.id-Close-search:before {
    content: "\e96e";
}
.id-Clothes_01:before {
    content: "\e96f";
}
.id-Clothes_02:before {
    content: "\e970";
}
.id-Clothes_03:before {
    content: "\e971";
}
.id-Clothes_04:before {
    content: "\e972";
}
.id-Clothes_05:before {
    content: "\e973";
}
.id-Clothes_06:before {
    content: "\e974";
}
.id-Clothes_07:before {
    content: "\e975";
}
.id-Clothes_08:before {
    content: "\e976";
}
.id-Clothes_09:before {
    content: "\e977";
}
.id-Clothes_10:before {
    content: "\e978";
}
.id-Clothes_11:before {
    content: "\e979";
}
.id-Clothes_12:before {
    content: "\e97a";
}
.id-Clothes_13:before {
    content: "\e97b";
}
.id-Clothes_14:before {
    content: "\e97c";
}
.id-Clothes_15:before {
    content: "\e97d";
}
.id-Clothes_16:before {
    content: "\e97e";
}
.id-cursors_01:before {
    content: "\e97f";
}
.id-cursors_02:before {
    content: "\e980";
}
.id-cursors_03:before {
    content: "\e981";
}
.id-cursors_04:before {
    content: "\e982";
}
.id-cursors_05:before {
    content: "\e983";
}
.id-cursors_06:before {
    content: "\e984";
}
.id-cursors_07:before {
    content: "\e985";
}
.id-cursors_08:before {
    content: "\e986";
}
.id-cursors_09:before {
    content: "\e987";
}
.id-Design_01:before {
    content: "\e988";
}
.id-Design_02:before {
    content: "\e989";
}
.id-Design_03:before {
    content: "\e98a";
}
.id-Design_04:before {
    content: "\e98b";
}
.id-Design_05:before {
    content: "\e98c";
}
.id-Design_06:before {
    content: "\e98d";
}
.id-down:before {
    content: "\e98e";
}
.id-Edition_01:before {
    content: "\e98f";
}
.id-Edition_02:before {
    content: "\e990";
}
.id-Edition_03:before {
    content: "\e991";
}
.id-Edition_04:before {
    content: "\e992";
}
.id-Edition_05:before {
    content: "\e993";
}
.id-Edition_06:before {
    content: "\e994";
}
.id-Edition_07:before {
    content: "\e995";
}
.id-Edition_08:before {
    content: "\e996";
}
.id-Edition_09:before {
    content: "\e997";
}
.id-Edition_10:before {
    content: "\e998";
}
.id-Edition_11:before {
    content: "\e999";
}
.id-Edition_12:before {
    content: "\e99a";
}
.id-email_01:before {
    content: "\e99b";
}
.id-email_02:before {
    content: "\e99c";
}
.id-email_03:before {
    content: "\e99d";
}
.id-email_04:before {
    content: "\e99e";
}
.id-email_05:before {
    content: "\e99f";
}
.id-email_06:before {
    content: "\e9a0";
}
.id-email_07:before {
    content: "\e9a1";
}
.id-email_08:before {
    content: "\e9a2";
}
.id-email_09:before {
    content: "\e9a3";
}
.id-email_10:before {
    content: "\e9a4";
}
.id-email_11:before {
    content: "\e9a5";
}
.id-email_12:before {
    content: "\e9a6";
}
.id-email_13:before {
    content: "\e9a7";
}
.id-email_14:before {
    content: "\e9a8";
}
.id-email_15:before {
    content: "\e9a9";
}
.id-email_16:before {
    content: "\e9aa";
}
.id-email_17:before {
    content: "\e9ab";
}
.id-email_18:before {
    content: "\e9ac";
}
.id-email_19:before {
    content: "\e9ad";
}
.id-email_20:before {
    content: "\e9ae";
}
.id-email_21:before {
    content: "\e9af";
}
.id-email_22:before {
    content: "\e9b0";
}
.id-email_23:before {
    content: "\e9b1";
}
.id-email_24:before {
    content: "\e9b2";
}
.id-email_25:before {
    content: "\e9b3";
}
.id-email_26:before {
    content: "\e9b4";
}
.id-files_01:before {
    content: "\e9b5";
}
.id-files_02:before {
    content: "\e9b6";
}
.id-files_03:before {
    content: "\e9b7";
}
.id-files_04:before {
    content: "\e9b8";
}
.id-files_05:before {
    content: "\e9b9";
}
.id-files_06:before {
    content: "\e9ba";
}
.id-files_07:before {
    content: "\e9bb";
}
.id-files_08:before {
    content: "\e9bc";
}
.id-files_09:before {
    content: "\e9bd";
}
.id-files_10:before {
    content: "\e9be";
}
.id-files_11:before {
    content: "\e9bf";
}
.id-files_12:before {
    content: "\e9c0";
}
.id-files_13:before {
    content: "\e9c1";
}
.id-files_14:before {
    content: "\e9c2";
}
.id-files_15:before {
    content: "\e9c3";
}
.id-files_16:before {
    content: "\e9c4";
}
.id-files_17:before {
    content: "\e9c5";
}
.id-files_18:before {
    content: "\e9c6";
}
.id-files_19:before {
    content: "\e9c7";
}
.id-files_20:before {
    content: "\e9c8";
}
.id-files_21:before {
    content: "\e9c9";
}
.id-files_22:before {
    content: "\e9ca";
}
.id-files_23:before {
    content: "\e9cb";
}
.id-folders_01:before {
    content: "\e9cc";
}
.id-folders_02:before {
    content: "\e9cd";
}
.id-folders_03:before {
    content: "\e9ce";
}
.id-folders_04:before {
    content: "\e9cf";
}
.id-folders_05:before {
    content: "\e9d0";
}
.id-folders_06:before {
    content: "\e9d1";
}
.id-folders_07:before {
    content: "\e9d2";
}
.id-folders_08:before {
    content: "\e9d3";
}
.id-folders_09:before {
    content: "\e9d4";
}
.id-folders_10:before {
    content: "\e9d5";
}
.id-food_01:before {
    content: "\e9d6";
}
.id-food_02:before {
    content: "\e9d7";
}
.id-food_03:before {
    content: "\e9d8";
}
.id-food_04:before {
    content: "\e9d9";
}
.id-food_05:before {
    content: "\e9da";
}
.id-food_06:before {
    content: "\e9db";
}
.id-food_07:before {
    content: "\e9dc";
}
.id-food_08:before {
    content: "\e9dd";
}
.id-food_09:before {
    content: "\e9de";
}
.id-food_10:before {
    content: "\e9df";
}
.id-food_11:before {
    content: "\e9e0";
}
.id-food_12:before {
    content: "\e9e1";
}
.id-food_13:before {
    content: "\e9e2";
}
.id-food_14:before {
    content: "\e9e3";
}
.id-food_15:before {
    content: "\e9e4";
}
.id-food_16:before {
    content: "\e9e5";
}
.id-food_17:before {
    content: "\e9e6";
}
.id-food_18:before {
    content: "\e9e7";
}
.id-food_19:before {
    content: "\e9e8";
}
.id-food_20:before {
    content: "\e9e9";
}
.id-food_21:before {
    content: "\e9ea";
}
.id-food_22:before {
    content: "\e9eb";
}
.id-food_23:before {
    content: "\e9ec";
}
.id-food_24:before {
    content: "\e9ed";
}
.id-food_25:before {
    content: "\e9ee";
}
.id-food_26:before {
    content: "\e9ef";
}
.id-food_27:before {
    content: "\e9f0";
}
.id-food_28:before {
    content: "\e9f1";
}
.id-food_29:before {
    content: "\e9f2";
}
.id-Footer:before {
    content: "\e9f3";
}
.id-formats_01:before {
    content: "\e9f4";
}
.id-formats_02:before {
    content: "\e9f5";
}
.id-formats_03:before {
    content: "\e9f6";
}
.id-formats_04:before {
    content: "\e9f7";
}
.id-formats_05:before {
    content: "\e9f8";
}
.id-formats_06:before {
    content: "\e9f9";
}
.id-formats_07:before {
    content: "\e9fa";
}
.id-formats_08:before {
    content: "\e9fb";
}
.id-formats_09:before {
    content: "\e9fc";
}
.id-formats_10:before {
    content: "\e9fd";
}
.id-formats_11:before {
    content: "\e9fe";
}
.id-formats_12:before {
    content: "\e9ff";
}
.id-formats_13:before {
    content: "\ea00";
}
.id-formats_14:before {
    content: "\ea01";
}
.id-formats_15:before {
    content: "\ea02";
}
.id-formats_16:before {
    content: "\ea03";
}
.id-formats_17:before {
    content: "\ea04";
}
.id-formats_18:before {
    content: "\ea05";
}
.id-formats_19:before {
    content: "\ea06";
}
.id-formats_20:before {
    content: "\ea07";
}
.id-gestures_01:before {
    content: "\ea08";
}
.id-gestures_02:before {
    content: "\ea09";
}
.id-gestures_03:before {
    content: "\ea0a";
}
.id-gestures_04:before {
    content: "\ea0b";
}
.id-gestures_05:before {
    content: "\ea0c";
}
.id-gestures_06:before {
    content: "\ea0d";
}
.id-gestures_07:before {
    content: "\ea0e";
}
.id-gestures_08:before {
    content: "\ea0f";
}
.id-gestures_09:before {
    content: "\ea10";
}
.id-gestures_10:before {
    content: "\ea11";
}
.id-gestures_11:before {
    content: "\ea12";
}
.id-gestures_12:before {
    content: "\ea13";
}
.id-gestures_13:before {
    content: "\ea14";
}
.id-gestures_14:before {
    content: "\ea15";
}
.id-gestures_15:before {
    content: "\ea16";
}
.id-gestures_16:before {
    content: "\ea17";
}
.id-gestures_17:before {
    content: "\ea18";
}
.id-gestures_18:before {
    content: "\ea19";
}
.id-gestures_19:before {
    content: "\ea1a";
}
.id-gestures_20:before {
    content: "\ea1b";
}
.id-gestures_21:before {
    content: "\ea1c";
}
.id-gestures_22:before {
    content: "\ea1d";
}
.id-gestures_23:before {
    content: "\ea1e";
}
.id-gestures_24:before {
    content: "\ea1f";
}
.id-gestures_25:before {
    content: "\ea20";
}
.id-gestures_26:before {
    content: "\ea21";
}
.id-gestures_27:before {
    content: "\ea22";
}
.id-gestures_28:before {
    content: "\ea23";
}
.id-gestures_29:before {
    content: "\ea24";
}
.id-gestures_30:before {
    content: "\ea25";
}
.id-gestures_31:before {
    content: "\ea26";
}
.id-gestures_32:before {
    content: "\ea27";
}
.id-gestures_33:before {
    content: "\ea28";
}
.id-gestures_34:before {
    content: "\ea29";
}
.id-Hardware_01:before {
    content: "\ea2a";
}
.id-Hardware_02:before {
    content: "\ea2b";
}
.id-Hardware_03:before {
    content: "\ea2c";
}
.id-Hardware_04:before {
    content: "\ea2d";
}
.id-Hardware_05:before {
    content: "\ea2e";
}
.id-Hardware_06:before {
    content: "\ea2f";
}
.id-Hardware_07:before {
    content: "\ea30";
}
.id-Hardware_08:before {
    content: "\ea31";
}
.id-Hardware_09:before {
    content: "\ea32";
}
.id-Hardware_10:before {
    content: "\ea33";
}
.id-Hardware_11:before {
    content: "\ea34";
}
.id-Hardware_12:before {
    content: "\ea35";
}
.id-Hardware_13:before {
    content: "\ea36";
}
.id-Hardware_14:before {
    content: "\ea37";
}
.id-Hardware_15:before {
    content: "\ea38";
}
.id-Hardware_16:before {
    content: "\ea39";
}
.id-Header:before {
    content: "\ea3a";
}
.id-hierarchy_01:before {
    content: "\ea3b";
}
.id-hierarchy_02:before {
    content: "\ea3c";
}
.id-hierarchy_03:before {
    content: "\ea3d";
}
.id-hierarchy_04:before {
    content: "\ea3e";
}
.id-hierarchy_05:before {
    content: "\ea3f";
}
.id-hierarchy_06:before {
    content: "\ea40";
}
.id-hierarchy_07:before {
    content: "\ea41";
}
.id-hierarchy_08:before {
    content: "\ea42";
}
.id-hierarchy_09:before {
    content: "\ea43";
}
.id-hierarchy_10:before {
    content: "\ea44";
}
.id-Home-category:before {
    content: "\ea45";
}
.id-interface_01:before {
    content: "\ea46";
}
.id-interface_02:before {
    content: "\ea47";
}
.id-interface_03:before {
    content: "\ea48";
}
.id-interface_04:before {
    content: "\ea49";
}
.id-interface_05:before {
    content: "\ea4a";
}
.id-interface_06:before {
    content: "\ea4b";
}
.id-interface_07:before {
    content: "\ea4c";
}
.id-interface_08:before {
    content: "\ea4d";
}
.id-interface_09:before {
    content: "\ea4e";
}
.id-interface_10:before {
    content: "\ea4f";
}
.id-interface_11:before {
    content: "\ea50";
}
.id-interface_12:before {
    content: "\ea51";
}
.id-interface_13:before {
    content: "\ea52";
}
.id-interface_14:before {
    content: "\ea53";
}
.id-interface_15:before {
    content: "\ea54";
}
.id-interface_16:before {
    content: "\ea55";
}
.id-interface_17:before {
    content: "\ea56";
}
.id-interface_18:before {
    content: "\ea57";
}
.id-interface_19:before {
    content: "\ea58";
}
.id-interface_20:before {
    content: "\ea59";
}
.id-interface_21:before {
    content: "\ea5a";
}
.id-interface_22:before {
    content: "\ea5b";
}
.id-interface_23:before {
    content: "\ea5c";
}
.id-interface_24:before {
    content: "\ea5d";
}
.id-interface_25:before {
    content: "\ea5e";
}
.id-interface_26:before {
    content: "\ea5f";
}
.id-interface_27:before {
    content: "\ea60";
}
.id-interface_28:before {
    content: "\ea61";
}
.id-interface_29:before {
    content: "\ea62";
}
.id-interface_30:before {
    content: "\ea63";
}
.id-interface_31:before {
    content: "\ea64";
}
.id-interface_32:before {
    content: "\ea65";
}
.id-interface_33:before {
    content: "\ea66";
}
.id-interface_34:before {
    content: "\ea67";
}
.id-interface_35:before {
    content: "\ea68";
}
.id-interface_36:before {
    content: "\ea69";
}
.id-kosz:before {
    content: "\ea6a";
}
.id-laybackground:before {
    content: "\ea6b";
}
.id-left:before {
    content: "\ea6c";
}
.id-leisure_01:before {
    content: "\ea6d";
}
.id-leisure_02:before {
    content: "\ea6e";
}
.id-leisure_03:before {
    content: "\ea6f";
}
.id-leisure_04:before {
    content: "\ea70";
}
.id-leisure_05:before {
    content: "\ea71";
}
.id-leisure_06:before {
    content: "\ea72";
}
.id-leisure_07:before {
    content: "\ea73";
}
.id-leisure_08:before {
    content: "\ea74";
}
.id-leisure_09:before {
    content: "\ea75";
}
.id-leisure_10:before {
    content: "\ea76";
}
.id-leisure_11:before {
    content: "\ea77";
}
.id-leisure_12:before {
    content: "\ea78";
}
.id-leisure_13:before {
    content: "\ea79";
}
.id-leisure_14:before {
    content: "\ea7a";
}
.id-leisure_15:before {
    content: "\ea7b";
}
.id-leisure_16:before {
    content: "\ea7c";
}
.id-leisure_17:before {
    content: "\ea7d";
}
.id-leisure_18:before {
    content: "\ea7e";
}
.id-leisure_19:before {
    content: "\ea7f";
}
.id-leisure_20:before {
    content: "\ea80";
}
.id-leisure_21:before {
    content: "\ea81";
}
.id-leisure_22:before {
    content: "\ea82";
}
.id-leisure_23:before {
    content: "\ea83";
}
.id-leisure_24:before {
    content: "\ea84";
}
.id-location_01:before {
    content: "\ea85";
}
.id-location_02:before {
    content: "\ea86";
}
.id-location_03:before {
    content: "\ea87";
}
.id-location_04:before {
    content: "\ea88";
}
.id-location_05:before {
    content: "\ea89";
}
.id-location_06:before {
    content: "\ea8a";
}
.id-location_07:before {
    content: "\ea8b";
}
.id-location_08:before {
    content: "\ea8c";
}
.id-location_09:before {
    content: "\ea8d";
}
.id-location_10:before {
    content: "\ea8e";
}
.id-location_11:before {
    content: "\ea8f";
}
.id-location_12:before {
    content: "\ea90";
}
.id-location_13:before {
    content: "\ea91";
}
.id-medical_01:before {
    content: "\ea92";
}
.id-medical_02:before {
    content: "\ea93";
}
.id-medical_03:before {
    content: "\ea94";
}
.id-medical_04:before {
    content: "\ea95";
}
.id-medical_05:before {
    content: "\ea96";
}
.id-medical_06:before {
    content: "\ea97";
}
.id-medical_07:before {
    content: "\ea98";
}
.id-medical_08:before {
    content: "\ea99";
}
.id-medical_09:before {
    content: "\ea9a";
}
.id-medical_10:before {
    content: "\ea9b";
}
.id-medical_11:before {
    content: "\ea9c";
}
.id-medical_12:before {
    content: "\ea9d";
}
.id-medical_13:before {
    content: "\ea9e";
}
.id-medical_14:before {
    content: "\ea9f";
}
.id-medical_15:before {
    content: "\eaa0";
}
.id-medical_16:before {
    content: "\eaa1";
}
.id-medical_17:before {
    content: "\eaa2";
}
.id-medical_18:before {
    content: "\eaa3";
}
.id-medical_19:before {
    content: "\eaa4";
}
.id-medical_20:before {
    content: "\eaa5";
}
.id-medical_21:before {
    content: "\eaa6";
}
.id-medical_22:before {
    content: "\eaa7";
}
.id-medical_23:before {
    content: "\eaa8";
}
.id-medical_24:before {
    content: "\eaa9";
}
.id-medical_25:before {
    content: "\eaaa";
}
.id-medical_26:before {
    content: "\eaab";
}
.id-medical_27:before {
    content: "\eaac";
}
.id-Member_info:before {
    content: "\eaad";
}
.id-multiobjekt:before {
    content: "\eaae";
}
.id-nature_01:before {
    content: "\eaaf";
}
.id-nature_02:before {
    content: "\eab0";
}
.id-nature_03:before {
    content: "\eab1";
}
.id-nature_04:before {
    content: "\eab2";
}
.id-nature_05:before {
    content: "\eab3";
}
.id-nature_06:before {
    content: "\eab4";
}
.id-nature_07:before {
    content: "\eab5";
}
.id-nature_08:before {
    content: "\eab6";
}
.id-nature_09:before {
    content: "\eab7";
}
.id-nature_10:before {
    content: "\eab8";
}
.id-nature_11:before {
    content: "\eab9";
}
.id-nature_12:before {
    content: "\eaba";
}
.id-nature_13:before {
    content: "\eabb";
}
.id-nature_14:before {
    content: "\eabc";
}
.id-nature_15:before {
    content: "\eabd";
}
.id-nature_16:before {
    content: "\eabe";
}
.id-nature_17:before {
    content: "\eabf";
}
.id-nature_18:before {
    content: "\eac0";
}
.id-nature_19:before {
    content: "\eac1";
}
.id-nature_20:before {
    content: "\eac2";
}
.id-nature_21:before {
    content: "\eac3";
}
.id-nature_22:before {
    content: "\eac4";
}
.id-network_01:before {
    content: "\eac5";
}
.id-network_02:before {
    content: "\eac6";
}
.id-network_03:before {
    content: "\eac7";
}
.id-network_04:before {
    content: "\eac8";
}
.id-network_05:before {
    content: "\eac9";
}
.id-network_06:before {
    content: "\eaca";
}
.id-network_07:before {
    content: "\eacb";
}
.id-network_08:before {
    content: "\eacc";
}
.id-network_09:before {
    content: "\eacd";
}
.id-network_10:before {
    content: "\eace";
}
.id-network_11:before {
    content: "\eacf";
}
.id-network_12:before {
    content: "\ead0";
}
.id-number_eight:before {
    content: "\ead1";
}
.id-number_five:before {
    content: "\ead2";
}
.id-number_four:before {
    content: "\ead3";
}
.id-number_nine:before {
    content: "\ead4";
}
.id-number_one:before {
    content: "\ead5";
}
.id-number_seven:before {
    content: "\ead6";
}
.id-number_six:before {
    content: "\ead7";
}
.id-number_three:before {
    content: "\ead8";
}
.id-number_two:before {
    content: "\ead9";
}
.id-number_zero:before {
    content: "\eada";
}
.id-nutka:before {
    content: "\eadb";
}
.id-Page_title:before {
    content: "\eadc";
}
.id-PC-01:before {
    content: "\eadd";
}
.id-PC-02:before {
    content: "\eade";
}
.id-PC-03:before {
    content: "\eadf";
}
.id-PC-04:before {
    content: "\eae0";
}
.id-PC-05:before {
    content: "\eae1";
}
.id-PC-06:before {
    content: "\eae2";
}
.id-PC-07:before {
    content: "\eae3";
}
.id-PC-08:before {
    content: "\eae4";
}
.id-PC-09:before {
    content: "\eae5";
}
.id-PC-10:before {
    content: "\eae6";
}
.id-PC-11:before {
    content: "\eae7";
}
.id-PC-12:before {
    content: "\eae8";
}
.id-PC-13:before {
    content: "\eae9";
}
.id-PC-14:before {
    content: "\eaea";
}
.id-PC-15:before {
    content: "\eaeb";
}
.id-PC-16:before {
    content: "\eaec";
}
.id-PC-17:before {
    content: "\eaed";
}
.id-PC-18:before {
    content: "\eaee";
}
.id-PC-19:before {
    content: "\eaef";
}
.id-PC-20:before {
    content: "\eaf0";
}
.id-PC-21:before {
    content: "\eaf1";
}
.id-PC-22:before {
    content: "\eaf2";
}
.id-PC-23:before {
    content: "\eaf3";
}
.id-PC-24:before {
    content: "\eaf4";
}
.id-PC-25:before {
    content: "\eaf5";
}
.id-PC-26:before {
    content: "\eaf6";
}
.id-PC-27:before {
    content: "\eaf7";
}
.id-PC-28:before {
    content: "\eaf8";
}
.id-PC-29:before {
    content: "\eaf9";
}
.id-PC-30:before {
    content: "\eafa";
}
.id-PC-31:before {
    content: "\eafb";
}
.id-PC-32:before {
    content: "\eafc";
}
.id-PC-33:before {
    content: "\eafd";
}
.id-PC-34:before {
    content: "\eafe";
}
.id-PC-35:before {
    content: "\eaff";
}
.id-PC-36:before {
    content: "\eb00";
}
.id-PC-37:before {
    content: "\eb01";
}
.id-PC-38:before {
    content: "\eb02";
}
.id-PC-39:before {
    content: "\eb03";
}
.id-PC-40:before {
    content: "\eb04";
}
.id-PC-41:before {
    content: "\eb05";
}
.id-PC-42:before {
    content: "\eb06";
}
.id-PC-43:before {
    content: "\eb07";
}
.id-PC-44:before {
    content: "\eb08";
}
.id-PC-45:before {
    content: "\eb09";
}
.id-PC-46:before {
    content: "\eb0a";
}
.id-PC-47:before {
    content: "\eb0b";
}
.id-PC-48:before {
    content: "\eb0c";
}
.id-PC-49:before {
    content: "\eb0d";
}
.id-PC-50:before {
    content: "\eb0e";
}
.id-PC-51:before {
    content: "\eb0f";
}
.id-PC-52:before {
    content: "\eb10";
}
.id-PC-53:before {
    content: "\eb11";
}
.id-phone_01:before {
    content: "\eb12";
}
.id-phone_02:before {
    content: "\eb13";
}
.id-phone_03:before {
    content: "\eb14";
}
.id-phone_04:before {
    content: "\eb15";
}
.id-phone_05:before {
    content: "\eb16";
}
.id-phone_06:before {
    content: "\eb17";
}
.id-phone_07:before {
    content: "\eb18";
}
.id-phone_08:before {
    content: "\eb19";
}
.id-phone_09:before {
    content: "\eb1a";
}
.id-phone_10:before {
    content: "\eb1b";
}
.id-phone_11:before {
    content: "\eb1c";
}
.id-phone_12:before {
    content: "\eb1d";
}
.id-phone_13:before {
    content: "\eb1e";
}
.id-phone_14:before {
    content: "\eb1f";
}
.id-phone_15:before {
    content: "\eb20";
}
.id-phone_16:before {
    content: "\eb21";
}
.id-phone_17:before {
    content: "\eb22";
}
.id-phone_18:before {
    content: "\eb23";
}
.id-phone_19:before {
    content: "\eb24";
}
.id-photo_01:before {
    content: "\eb25";
}
.id-photo_02:before {
    content: "\eb26";
}
.id-photo_03:before {
    content: "\eb27";
}
.id-photo_04:before {
    content: "\eb28";
}
.id-photo_05:before {
    content: "\eb29";
}
.id-photo_06:before {
    content: "\eb2a";
}
.id-photo_07:before {
    content: "\eb2b";
}
.id-photo_08:before {
    content: "\eb2c";
}
.id-photo_09:before {
    content: "\eb2d";
}
.id-photo_10:before {
    content: "\eb2e";
}
.id-photo_11:before {
    content: "\eb2f";
}
.id-photo_12:before {
    content: "\eb30";
}
.id-photo_13:before {
    content: "\eb31";
}
.id-photo_14:before {
    content: "\eb32";
}
.id-photo_15:before {
    content: "\eb33";
}
.id-photo_16:before {
    content: "\eb34";
}
.id-places_01:before {
    content: "\eb35";
}
.id-places_02:before {
    content: "\eb36";
}
.id-places_03:before {
    content: "\eb37";
}
.id-places_04:before {
    content: "\eb38";
}
.id-places_05:before {
    content: "\eb39";
}
.id-places_06:before {
    content: "\eb3a";
}
.id-places_07:before {
    content: "\eb3b";
}
.id-Portfolio_info:before {
    content: "\eb3c";
}
.id-Post_options:before {
    content: "\eb3d";
}
.id-right:before {
    content: "\eb3e";
}
.id-server_01:before {
    content: "\eb3f";
}
.id-server_02:before {
    content: "\eb40";
}
.id-server_03:before {
    content: "\eb41";
}
.id-settings_01:before {
    content: "\eb42";
}
.id-settings_02:before {
    content: "\eb43";
}
.id-settings_03:before {
    content: "\eb44";
}
.id-settings_04:before {
    content: "\eb45";
}
.id-settings_05:before {
    content: "\eb46";
}
.id-settings_06:before {
    content: "\eb47";
}
.id-settings_07:before {
    content: "\eb48";
}
.id-settings_08:before {
    content: "\eb49";
}
.id-settings_09:before {
    content: "\eb4a";
}
.id-settings_10:before {
    content: "\eb4b";
}
.id-shopping_01:before {
    content: "\eb4c";
}
.id-shopping_02:before {
    content: "\eb4d";
}
.id-shopping_03:before {
    content: "\eb4e";
}
.id-shopping_04:before {
    content: "\eb4f";
}
.id-shopping_05:before {
    content: "\eb50";
}
.id-shopping_06:before {
    content: "\eb51";
}
.id-shopping_07:before {
    content: "\eb52";
}
.id-shopping_08:before {
    content: "\eb53";
}
.id-shopping_09:before {
    content: "\eb54";
}
.id-shopping_10:before {
    content: "\eb55";
}
.id-shopping_11:before {
    content: "\eb56";
}
.id-shopping_12:before {
    content: "\eb57";
}
.id-shopping_13:before {
    content: "\eb58";
}
.id-shopping_14:before {
    content: "\eb59";
}
.id-shopping_15:before {
    content: "\eb5a";
}
.id-shopping_16:before {
    content: "\eb5b";
}
.id-shopping_17:before {
    content: "\eb5c";
}
.id-shopping_18:before {
    content: "\eb5d";
}
.id-shopping_19:before {
    content: "\eb5e";
}
.id-shopping_20:before {
    content: "\eb5f";
}
.id-shopping_21:before {
    content: "\eb60";
}
.id-shopping_22:before {
    content: "\eb61";
}
.id-shopping_23:before {
    content: "\eb62";
}
.id-shopping_24:before {
    content: "\eb63";
}
.id-shopping_25:before {
    content: "\eb64";
}
.id-shopping_26:before {
    content: "\eb65";
}
.id-shopping_27:before {
    content: "\eb66";
}
.id-shopping_28:before {
    content: "\eb67";
}
.id-shopping_29:before {
    content: "\eb68";
}
.id-shopping_30:before {
    content: "\eb69";
}
.id-shopping_31:before {
    content: "\eb6a";
}
.id-shopping_32:before {
    content: "\eb6b";
}
.id-shopping_33:before {
    content: "\eb6c";
}
.id-Shortcodes:before {
    content: "\eb6d";
}
.id-Sidebar:before {
    content: "\eb6e";
}
.id-Slider:before {
    content: "\eb6f";
}
.id-time_01:before {
    content: "\eb70";
}
.id-time_02:before {
    content: "\eb71";
}
.id-time_03:before {
    content: "\eb72";
}
.id-time_04:before {
    content: "\eb73";
}
.id-time_05:before {
    content: "\eb74";
}
.id-time_06:before {
    content: "\eb75";
}
.id-time_07:before {
    content: "\eb76";
}
.id-time_08:before {
    content: "\eb77";
}
.id-time_09:before {
    content: "\eb78";
}
.id-time_10:before {
    content: "\eb79";
}
.id-time_11:before {
    content: "\eb7a";
}
.id-time_12:before {
    content: "\eb7b";
}
.id-time_13:before {
    content: "\eb7c";
}
.id-time_14:before {
    content: "\eb7d";
}
.id-time_15:before {
    content: "\eb7e";
}
.id-time_16:before {
    content: "\eb7f";
}
.id-time_17:before {
    content: "\eb80";
}
.id-time_18:before {
    content: "\eb81";
}
.id-time_19:before {
    content: "\eb82";
}
.id-time_20:before {
    content: "\eb83";
}
.id-transfers_01:before {
    content: "\eb84";
}
.id-transfers_02:before {
    content: "\eb85";
}
.id-transfers_03:before {
    content: "\eb86";
}
.id-transfers_04:before {
    content: "\eb87";
}
.id-transfers_05:before {
    content: "\eb88";
}
.id-transfers_06:before {
    content: "\eb89";
}
.id-transfers_07:before {
    content: "\eb8a";
}
.id-transfers_08:before {
    content: "\eb8b";
}
.id-transfers_09:before {
    content: "\eb8c";
}
.id-transfers_10:before {
    content: "\eb8d";
}
.id-transfers_11:before {
    content: "\eb8e";
}
.id-transfers_12:before {
    content: "\eb8f";
}
.id-transfers_13:before {
    content: "\eb90";
}
.id-transfers_14:before {
    content: "\eb91";
}
.id-transfers_15:before {
    content: "\eb92";
}
.id-transfers_16:before {
    content: "\eb93";
}
.id-transfers_17:before {
    content: "\eb94";
}
.id-transfers_18:before {
    content: "\eb95";
}
.id-transfers_19:before {
    content: "\eb96";
}
.id-transfers_20:before {
    content: "\eb97";
}
.id-transfers_21:before {
    content: "\eb98";
}
.id-transfers_22:before {
    content: "\eb99";
}
.id-transfers_23:before {
    content: "\eb9a";
}
.id-transfers_24:before {
    content: "\eb9b";
}
.id-transportation_01:before {
    content: "\eb9c";
}
.id-transportation_02:before {
    content: "\eb9d";
}
.id-transportation_03:before {
    content: "\eb9e";
}
.id-transportation_04:before {
    content: "\eb9f";
}
.id-transportation_05:before {
    content: "\eba0";
}
.id-transportation_06:before {
    content: "\eba1";
}
.id-transportation_07:before {
    content: "\eba2";
}
.id-transportation_08:before {
    content: "\eba3";
}
.id-transportation_09:before {
    content: "\eba4";
}
.id-transportation_10:before {
    content: "\eba5";
}
.id-transportation_11:before {
    content: "\eba6";
}
.id-transportation_12:before {
    content: "\eba7";
}
.id-transportation_13:before {
    content: "\eba8";
}
.id-transportation_14:before {
    content: "\eba9";
}
.id-transportation_15:before {
    content: "\ebaa";
}
.id-transportation_16:before {
    content: "\ebab";
}
.id-transportation_17:before {
    content: "\ebac";
}
.id-transportation_18:before {
    content: "\ebad";
}
.id-up:before {
    content: "\ebae";
}
.id-users_01:before {
    content: "\ebaf";
}
.id-users_02:before {
    content: "\ebb0";
}
.id-users_03:before {
    content: "\ebb1";
}
.id-users_04:before {
    content: "\ebb2";
}
.id-users_05:before {
    content: "\ebb3";
}
.id-users_06:before {
    content: "\ebb4";
}
.id-users_07:before {
    content: "\ebb5";
}
.id-users_08:before {
    content: "\ebb6";
}
.id-users_09:before {
    content: "\ebb7";
}
.id-users_10:before {
    content: "\ebb8";
}
.id-users_11:before {
    content: "\ebb9";
}
.id-users_12:before {
    content: "\ebba";
}
.id-users_13:before {
    content: "\ebbb";
}
.id-users_14:before {
    content: "\ebbc";
}
.id-users_15:before {
    content: "\ebbd";
}
.id-users_16:before {
    content: "\ebbe";
}
.id-video_01:before {
    content: "\ebbf";
}
.id-video_02:before {
    content: "\ebc0";
}
.id-video_03:before {
    content: "\ebc1";
}
.id-video_04:before {
    content: "\ebc2";
}
.id-video_05:before {
    content: "\ebc3";
}
.id-video_06:before {
    content: "\ebc4";
}
.id-video_07:before {
    content: "\ebc5";
}
.id-video_08:before {
    content: "\ebc6";
}
.id-video_09:before {
    content: "\ebc7";
}
.id-video_10:before {
    content: "\ebc8";
}
.id-video_11:before {
    content: "\ebc9";
}
.id-video_12:before {
    content: "\ebca";
}
.id-video_13:before {
    content: "\ebcb";
}
.id-video_14:before {
    content: "\ebcc";
}
.id-warstwa_obiektu:before {
    content: "\ebcd";
}
.id-warstwa_tekstowa:before {
    content: "\ebce";
}
.id-weather_01:before {
    content: "\ebcf";
}
.id-weather_02:before {
    content: "\ebd0";
}
.id-weather_03:before {
    content: "\ebd1";
}
.id-weather_04:before {
    content: "\ebd2";
}
.id-weather_05:before {
    content: "\ebd3";
}
.id-weather_06:before {
    content: "\ebd4";
}
.id-weather_07:before {
    content: "\ebd5";
}
.id-weather_08:before {
    content: "\ebd6";
}
.id-weather_09:before {
    content: "\ebd7";
}
.id-weather_10:before {
    content: "\ebd8";
}
.id-weather_11:before {
    content: "\ebd9";
}
.id-weather_12:before {
    content: "\ebda";
}
.id-weather_13:before {
    content: "\ebdb";
}
.id-weather_14:before {
    content: "\ebdc";
}
.id-weather_15:before {
    content: "\ebdd";
}
.id-weather_16:before {
    content: "\ebde";
}
.id-weather_17:before {
    content: "\ebdf";
}
.id-weather_18:before {
    content: "\ebe0";
}
.id-weather_19:before {
    content: "\ebe1";
}
