/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  height: 56px;
  /* line 24, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */ }
  /* line 21, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger.hamburger--small {
    height: 60px; }
  /* line 24, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger.hamburger--large {
    height: 62px; }
  /* line 27, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger:hover {
    opacity: 0.7; }

/* line 37, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
.hamburger-box {
  width: 26px;
  height: 19px;
  display: inline-block;
  position: relative; }
  /* line 42, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger--small .hamburger-box {
    width: 20px;
    height: 22px; }
  /* line 46, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger--large .hamburger-box {
    width: 32px;
    height: 25px; }

/* line 52, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px; }
  /* line 56, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger--small .hamburger-inner {
    margin-top: -1px; }
  /* line 59, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger--large .hamburger-inner {
    margin-top: -1.5px; }
  /* line 62, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 26px;
    height: 1px;
    background-color: #000;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
    /* line 73, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--small .hamburger-inner, .hamburger--small .hamburger-inner::before, .hamburger--small .hamburger-inner::after {
      width: 20px;
      height: 2px;
      border-radius: 5px; }
    /* line 78, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--large .hamburger-inner, .hamburger--large .hamburger-inner::before, .hamburger--large .hamburger-inner::after {
      width: 32px;
      height: 3px;
      border-radius: 0px; }
  /* line 85, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  /* line 91, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger-inner::before {
    top: -9px; }
    /* line 93, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--small .hamburger-inner::before {
      top: -5px; }
    /* line 96, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--large .hamburger-inner::before {
      top: -8px; }
  /* line 101, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
  .hamburger-inner::after {
    bottom: -9px; }
    /* line 103, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--small .hamburger-inner::after {
      bottom: -5px; }
    /* line 106, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/_base.scss */
    .hamburger--large .hamburger-inner::after {
      bottom: -8px; }

/*
   * Elastic
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner {
  top: 0.5px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  /* line 10, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--small.hamburger--elastic .hamburger-inner {
    top: 1px; }
  /* line 13, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--large.hamburger--elastic .hamburger-inner {
    top: 1.5px; }
  /* line 16, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--elastic .hamburger-inner::before {
    top: 9px;
    transition: opacity 0.15s 0.4s ease; }
    /* line 19, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--small.hamburger--elastic .hamburger-inner::before {
      top: 5px; }
    /* line 22, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--large.hamburger--elastic .hamburger-inner::before {
      top: 8px; }
  /* line 26, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--elastic .hamburger-inner::after {
    top: 18px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    /* line 29, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--small.hamburger--elastic .hamburger-inner::after {
      top: 10px; }
    /* line 32, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--large.hamburger--elastic .hamburger-inner::after {
      top: 16px; }

/* line 38, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(135deg);
  transition-delay: 0.1s; }
  /* line 42, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  /* line 46, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -18px, 0) rotate(-270deg);
    transition-delay: 0.1s; }
  /* line 50, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--small.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 5px, 0) rotate(135deg); }
    /* line 53, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--small.hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-270deg); }
  /* line 57, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
  .hamburger--large.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(135deg); }
    /* line 60, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_elastic.scss */
    .hamburger--large.hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -16px, 0) rotate(-270deg); }

/*
   * Slider
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
.hamburger--slider .hamburger-inner {
  top: 0.5px; }
  /* line 8, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--slider .hamburger-inner::before {
    top: 9px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.2s; }
    /* line 13, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--small.hamburger--slider .hamburger-inner::before {
      top: 5px; }
    /* line 16, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--large.hamburger--slider .hamburger-inner::before {
      top: 8px; }
  /* line 20, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--slider .hamburger-inner::after {
    top: 18px; }
    /* line 22, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--small.hamburger--slider .hamburger-inner::after {
      top: 10px; }
    /* line 25, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--large.hamburger--slider .hamburger-inner::after {
      top: 16px; }

/* line 31, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(45deg); }
  /* line 34, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-3.71429px, -8px, 0);
    opacity: 0; }
  /* line 38, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -18px, 0) rotate(-90deg); }
  /* line 41, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--small.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 5px, 0) rotate(45deg); }
    /* line 44, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--small.hamburger--slider.is-active .hamburger-inner::before {
      transform: rotate(-45deg) translate3d(-2.85714px, -3px, 0);
      opacity: 0; }
    /* line 48, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--small.hamburger--slider.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-90deg); }
  /* line 52, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
  .hamburger--large.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg); }
    /* line 55, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--large.hamburger--slider.is-active .hamburger-inner::before {
      transform: rotate(-45deg) translate3d(-4.57143px, -5px, 0);
      opacity: 0; }
    /* line 59, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_slider.scss */
    .hamburger--large.hamburger--slider.is-active .hamburger-inner::after {
      transform: translate3d(0, -16px, 0) rotate(-90deg); }

/*
   * Spring
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
.hamburger--spring .hamburger-inner {
  top: 0.5px;
  transition: background-color 0s 0.15s linear; }
  /* line 9, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--small.hamburger--spring .hamburger-inner {
    top: 1px; }
  /* line 12, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--large.hamburger--spring .hamburger-inner {
    top: 1.5px; }
  /* line 15, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--spring .hamburger-inner::before {
    top: 9px;
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    /* line 19, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
    .hamburger--small.hamburger--spring .hamburger-inner::before {
      top: 5px; }
    /* line 22, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
    .hamburger--large.hamburger--spring .hamburger-inner::before {
      top: 8px; }
  /* line 27, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--spring .hamburger-inner::after {
    top: 18px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    /* line 31, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
    .hamburger--small.hamburger--spring .hamburger-inner::after {
      top: 10px; }
    /* line 34, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
    .hamburger--large.hamburger--spring .hamburger-inner::after {
      top: 16px; }

/* line 41, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent !important; }
  /* line 45, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 9px, 0) rotate(45deg); }
  /* line 52, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spring.scss */
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 9px, 0) rotate(-45deg); }

/*
   * Spin
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  /* line 10, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; }
  /* line 15, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

/* line 22, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 27, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; }
  /* line 34, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_spin.scss */
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  /* line 10, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
  /* line 15, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

/* line 22, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 27, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
  /* line 34, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_squeeze.scss */
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
/* line 6, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  /* line 10, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  /* line 17, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  /* line 21, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

/* line 27, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  /* line 31, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  /* line 36, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  /* line 41, C:/Users/mariu/Downloads/hamburgers-master/hamburgers-master/_sass/hamburgers/types/_vortex.scss */
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*# sourceMappingURL=hamburgers.css.map */